[tool.poetry]
name = "nonebot-plugin-mcqq"
version = "2.6.2"
description = "基于NoneBot的QQ群聊与Minecraft Server消息互通插件"
authors = ["17TheWord <17theword@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
mcqq-tool = "^1.3.4.post1"

[tool.poetry.group.test.dependencies]
ruff = "^0.4.5"
isort = "^5.10.1"
nonebug = "^0.3.5"
pytest-cov = "^4.0.0"
pre-commit = "^3.7.0"
pytest-asyncio = "^0.23.0"
nonebot2 = { version = "^2.2.0", extras = ["fastapi"] }

[tool.isort]
profile = "black"
line_length = 88
length_sort = true
skip_gitignore = true
force_sort_within_sections = true
extra_standard_library = ["typing_extensions"]

[tool.ruff]
line-length = 88
target-version = "py39"

[tool.ruff.lint]
select = ["E", "W", "F", "UP", "C", "PYI", "PT", "Q"]
ignore = ["E402", "E501", "F401", "C901", "UP037", "UP035", "UP006", "PYI021"]

[tool.ruff.lint.per-file-ignores]
"nonebot/adapters/minecraft/__init__.py" = ["F403"]
"nonebot/adapters/minecraft/bot.pyi" = ["UP007", "PYI020"]
"nonebot/adapters/minecraft/collator.py" = ["C417"]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
